#header{
    background-color: aqua;
}
    .header-title{
        color: azure;
        text-align: center;
        font-family: Arial, "Times New Roman", 'Times New Roman', Times, serif;
    }
    .header-logo img{
        width: 300px;
    }
    main{
        /.background-color

    }
    .text